@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Hurricane&family=Kanit:ital,wght@1,600&family=Poppins:ital,wght@0,400;0,800;1,200;1,300;1,600&family=Rubik:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Poppins';
    background-color: gainsboro;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.form {
    background-color: lightgray;
    padding: 2rem;
}
.form h3{
    background-color: lightgray;
}

.input-group{
    background-color: lightgray;
}

.input-group label{
    background-color: lightgray;
    padding: .5rem;
}

.input-group button{
    margin-right: .5rem;
}
.button{
    background-color: lightgray;
}
/* each item */
.each td button{
    border: none;
    cursor: pointer;

}

.fa-pen-to-square:hover {
    color: gray;
}

.fa-trash {
    color: red;
}

.fa-trash:hover {
    color: rgb(112, 20, 20);
}